<header class="header-container">
  <a href="{{ shop.url }}" class="container-logo">
    <img
      src="{{ section.settings.image |  image_url}}"
      alt="#"
      width="{{ section.settings.image_height }}%"
      height="{{ section.settings.image_height }}%"
    >
  </a>
  <nav class="navbar-container">
    <ul class="navbar">
      <!-- for each link, displays in the 'main-menu' displays an anchor tag - -->
      {% for link in linklists['main-menu'].links %}
        <!-- check if there are submenu - -->
        {% assign child_list_handle = link.title | handleize %}
        <!-- if the link has a child, loop for child and displays an anchor tag - -->
        {% if linklists[child_list_handle].links != blank %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
          [
          {%- for childlink in linklists[child_list_handle].links %}
            <li class="nav-item">
              <a class="nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
            </li>
          {% endfor -%}
          ]
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <div class="form-container">
    <form class="form-wrapper" action="/search" method="GET" role="search">
      <input type="text" name="q" value="{{ search.terms |  escape }}">
      <button type="submit" class="btn btn-secondary">Search</button>
    </form>
  </div>
  <div class="cart-container">
    <ul class="cart-wrapper">
      <li class="cart-item"><a class="cart-link" href="/cart">Cart</a></li>
    </ul>
  </div>
  <div class="account-container">
    <ul class="account-wrapper">
      <!-- check if the store is open for account registration or login - -->
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="account-item">
            <a class="account-link" href="{{ routes.account_url }}">Account</a>
          </li>
          <li class="account-item">
            <a class="account-link" href="{{ routes.account_logout_url }}">Logout</a>
          </li>
        {% else %}
          <li class="account-item">
            <a class="account-link" href="{{ routes.account_login_url }}">Login</a>
          </li>
          <li class="account-item">
            <a class="account-link" href="{{ routes.account_register_url }}">Register</a>
          </li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
</header>

{% schema %}
{
  "name": "Navigation Logo",
  "class": "hero-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 100,
      "label": "Image Width (%)"
    },
    {
      "type": "range",
      "id": "image_height",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 100,
      "label": "Image Height (%)"
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "hero"
    }
  ]
}
{% endschema %}
