<header class="container">
  <a href="#" class="container-logo">
    <img
      src="{{ section.settings.image |  image_url}}"
      alt="#"
      width="{{ section.settings.image_height }}%"
      height="{{ section.settings.image_height }}%"
    >
  </a>
  <nav class="navbar-container">
    <ul class="navbar">
      <!-- for each link, displays in the 'main-menu' displays an anchor tag - -->
      {% for link in linklists['main-menu'].links %}
        <!-- check if there are submenu - -->
        {% assign child_list_handle = link.title | handleize %}
        <!-- if the link has a child, loop for child and displays an anchor tag - -->
        {% if linklists[child_list_handle].links != blank %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
          [
          {%- for childlink in linklists[child_list_handle].links %}
            <li class="nav-item">
              <a class="nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
            </li>
          {% endfor -%}
          ]
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link" href="/cart">cart</a>
      </li>
    </ul>
  </nav>
</header>

<!-- check if the store is open for account registration or login - -->
{% if shop.customer_accounts_enabled %}
  {% if customer %}
    <a href="/account">account</a>
    {{ 'log out' | customer_logout_link }}
  {% else %}
    {{ 'log in ' | customer_login_link }}
    {{ 'register' | customer_register_link }}
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Logo",
  "class": "hero-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 100,
      "label": "Image Width (%)"
    },
    {
      "type": "range",
      "id": "image_height",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 100,
      "label": "Image Height (%)"
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "hero"
    }
  ]
}
{% endschema %}
