<section class="product-container">
  <div class="product-wrapper">
    <h2 class="product-text">{{ section.settings.title }}</h2>
    <div class="cards-holder">
      {% for product in collections[section.settings.featured_collection].products %}
        {% assign image = product.featured_media.preview_image %}
        <div class="card-holder">
          <a class="card-container" href="{{ product.url }}">
            {% if image != blank %}
              <img
                class="card-image"
                src="{{ image |  image_url }}"
                alt="{{ product.title }}"
                width="auto"
                height="auto"
              >
              {% else %}
               {{ 'product-1' |  placeholder_svg_tag: 'card-image' }}
            {% endif %}
            <div class="card-body">
              <h4>{{ product.title }}</h4>
              <div class="card-details">
                <div class="card-price-holder">
                  <p class="item-price">{{ product.price | money }}</p>
                  <p class="item-compared-price">{{ product.compare_at_price | money }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Featured Collection",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
